<!-- partial template to update each comment locally in page -->
<!-- don't need <!DOCTYPE html> -->
<%= div_for comment do %>
    <p>
      <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
      <%= h(comment.body) %>
    </p>
<%end%>