<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<script>
    document.write("<h2>Table of Fib Nums</h2>");
        for (i=0, j=1, k=0, f=0; i<50; i++, f=j+k, j=k, k=f) {
            document.write("Fib (" + i + ") = " + f);
            document.write("<br>");
        }
</script>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
