<p id="notice"><%= notice %></p>

<p>
  <h2>Post:<%= @post.title %></strong></h2>
</p>

<p>
  <strong><%= @post.body %></strong>
</p>
<h2>Comments</h2>
    <div id="comments">
      <%= render :partial => @post.comments.reverse %>
    </div>
<!--the new form requires editing the create comment def to pass the post_id -->
<!-- lecture 8 added remote: true to enable local jquery - also add format.js in comments_controller.rb -->
<%= form_for([@post, Comment.new], remote: true) do |f| %>
    <p><%= f.label :body, "New Comment" %><br />
       <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
